
.table ,td,th{
 border: 1px solid;
 margin: 50px;
 padding: 10px;
 text-align: center;
 background: scroll;
 color: rgb(10, 12, 12);
 background-color:white;

 
 
 
}
div{
   margin-top: 30px;
    text-align: center;
}
body{
  
    width: 800px;
    height: 400px;
    background-image: url(ST-Bus.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
   
    
}
h2{
    color:white;
}
